environment        = "prod"
primary_region     = "us-east-1"
secondary_region   = "eu-west-1"
primary_vpc_cidr   = "10.1.0.0/16"
secondary_vpc_cidr = "10.101.0.0/16"
primary_tgw_asn    = 64512
secondary_tgw_asn  = 64513
